{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["babel-plugin-twin", { "debug": false }], // babel-plugin-twin should always come before babel-plugin-macros
    "babel-plugin-macros"
  ]
}
